/*https://coolors.co/palette/efd9ce-dec0f1-b79ced-957fef-7161ef  = paleta de cores usada. Tambem é onde fiz o degradê*/

* {
  margin: 0;
  padding: 0;
}

.header-principal {
  background-color: aquamarine;
  position: fixed;
  width: 100%;
  height: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* é o padrão, isso quer dizer que o eixo principal ao usar o display flex é o horizontal*/
  justify-content: space-between;
  /* para ficar em lados opostos */
}

.header-direita {
  background-color: rgb(255, 0, 0);
  display: flex;
  width: 500px;
  margin-right: 50px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.main{
  background-color: blueviolet;
  padding-top: 50px;
  height: 500px;
}

#minha_foto {
  border-radius: 100%;
  height: 200px;

}