
/*https://coolors.co/palette/160f29-246a73-368f8b-f3dfc1-ddbea8 */

body {
    background-color: background: hsla(36, 68%, 85%, 1);

    background: linear-gradient(90deg, hsla(36, 68%, 85%, 1) 0%, hsla(25, 44%, 76%, 1) 23%, hsla(177, 45%, 39%, 1) 72%, hsla(187, 52%, 30%, 1) 93%);

    background: -moz-linear-gradient(90deg, hsla(36, 68%, 85%, 1) 0%, hsla(25, 44%, 76%, 1) 23%, hsla(177, 45%, 39%, 1) 72%, hsla(187, 52%, 30%, 1) 93%);

    background: -webkit-linear-gradient(90deg, hsla(36, 68%, 85%, 1) 0%, hsla(25, 44%, 76%, 1) 23%, hsla(177, 45%, 39%, 1) 72%, hsla(187, 52%, 30%, 1) 93%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F3DFC1", endColorstr="#DDBEA8", GradientType=1);
}

.style-box {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    padding: 9px;
    overflow: hidden;
    border: none;
    font: normal normal bold 20px/1 Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,
            hsl(338, 87%, 45%) 0,
            hsl(338, 87%, 45%) 9%,
            hsl(5, 89%, 59%) 76%,
            hsl(20, 100%, 58%) 96%,
            hsl(20, 100%, 58%) 100%);
    background: -moz-linear-gradient(180deg,
            hsl(338, 87%, 45%) 0,
            hsl(338, 87%, 45%) 9%,
            hsl(5, 89%, 59%) 76%,
            hsl(20, 100%, 58%) 96%,
            hsl(20, 100%, 58%) 100%);
    background: linear-gradient(180deg,
            hsl(338, 87%, 45%) 0,
            hsl(338, 87%, 45%) 9%,
            hsl(5, 89%, 59%) 76%,
            hsl(20, 100%, 58%) 96%,
            hsl(20, 100%, 58%) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sobreMimStyle {
    font-weight: bold;
}