/*https://coolors.co/palette/efd9ce-dec0f1-b79ced-957fef-7161ef  = paleta de cores usada. Tambem é onde fiz o degradê*/

body {
    color: #0e0268;
    background: hsla(20, 51%, 87%, 1);
    background: linear-gradient(90deg, hsla(20, 51%, 87%, 1) 0%, hsla(275, 100%, 89%, 1) 34%, hsla(252, 78%, 72%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(20, 51%, 87%, 1) 0%, hsla(275, 100%, 89%, 1) 34%, hsla(252, 78%, 72%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(20, 51%, 87%, 1) 0%, hsla(275, 100%, 89%, 1) 34%, hsla(252, 78%, 72%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EFD9CE", endColorstr="#E7C6FF", GradientType=1);
}

.style-box {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    padding: 9px;
    overflow: hidden;
    border: none;
    font: normal normal bold 20px/1 Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #7161EF;
    -webkit-box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sobreMimStyle {
    font-weight: bold;
}

.box-sobre-mim {
    
}

.minha-foto {
    height: 250px;
    border-radius: 50%;
}